*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fc4a55;
}


.bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0,0,0.1)
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

header .navigation{
  position: relative;
  display: flex;
}

header .navigation li{
  list-style: none;
}

header .navigation li a{
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 40px;
  text-decoration: none;
}

header .navigation li a:hover{
background: #fff;
color: #333;
}