*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fc4a55;
}


.bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0,0,0.1)
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

header .navigation{
  position: relative;
  display: flex;
}

header .navigation li{
  list-style: none;
}

header .navigation li a{
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 40px;
  text-decoration: none;
}

header .navigation li a:hover{
background: #fff;
color: #333;
}

.content{
  position: relative;
  width: 100%;
  display: flex;
}

.content .textBox{
  position: relative;
  max-width: 600px;
}

.content .textBox h2{
  color: #fff;
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 700;
}

.content .textBox p{
  color: #fff;
  margin-top: 20px;
}  
.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fff;
  color: #333;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1;
  text-decoration: none;
}
.content imgBox{
  position: relative;
  z-index: 1;
  width: 600;
  display: flex;
  justify-content: flex-end;
}
.content imgBox img{
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

.thumb{
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  display: flex;
}


.thumb li.active{
  border: 2px solid rgba(255, 255,255,1);
  transition: 0.2s
}
.thumb li::before{
  position: absolute;
   top:-110px;
  left:-20px; 
  content: attr(data-text);
  white-space:nowrap;
  color: rgba(255, 255,255,.15);
  opacity: 0;
  font-weight: 700;
  font-size: 100px;
  pointer-events: none;
}
.thumb li.active::before{
  opacity: 1;
}
.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5;
  height: 50px;
  background-color: rgba(255, 255,255,0.25);
  padding: 5px;
  border: 2px solid rgba(255, 255,255,0.25)
}

.thumb li img{
max-width: 60px;
}